body {
  background-color: black;
  color: white; }

.main-section {
  padding-top: 100px; }

.product {
  margin-bottom: 125px;
  text-align: center; }

@media (max-width: 479px) {
  body {
    background: url(../images/picture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; } }
