body {
  background-color: black;
  color: white; }

.main-section {
  padding-top: 100px; }
  .main-section .row .col-md-6 {
    text-align: center; }

.product {
  margin-bottom: 125px; }

@media (max-width: 479px) {
  body {
    background: url(../images/picture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; } }
